extends layout

block content
  script(src="/javascripts/libs/dash.all.js")
  div#content
    div#videoView(style="text-align: center;")
      p(style=" color: #fff; font-size: 18px; font-family: bold")= msg
      div#left
        div#channelTabs
          ul 
            each channel in channels
              li
                a(href="/?ch=#{channel.channelName}")= channel.channelName
      div#right
        video#videoStream
      div#comments
        p Comments
  - if (typeof(videoInfo) !== 'undefined'){
    script.
      (function(){
          var fileId = "#{videoInfo.fileId}" || '';
          console.log('fileid', fileId);
          var url = "http://localhost:8080/uploads/"+fileId+"/_dash.mpd"; //link to mpd
          var context = new Dash.di.DashContext();
          player = new MediaPlayer(context);
          player.startup();
          player.attachView(document.querySelector("#videoStream"));
          player.attachSource(url);
          setTimeout(function(){
            player.seek(parseInt("#{videoInfo.start}"));
            console.log('videoInfo.start', "#{videoInfo.start}");
            player.play();
          }, 1000)
      
          
      })();
  -}
 
  div#videoInfo
    h1 Video Info