extends layout

block content
  script(src="/javascripts/libs/dash.all.js")
  div#content
    div#videoView(style="text-align: center;")
      p(style=" color: #fff; font-size: 18px; font-family: bold")= msg
      div#left
        div#channelTabs
          ul 
            each channel in channels
              li
                a(href="/?ch=#{channel.channelName}")= channel.channelName
      div#right
        video#videoStream
      div#comments
        p Comments
        p= videoInfo.fileId
  script.
    var data =  !{"#{videoInfo.fileId || ''}"};
    console.log(data);
    
    
    /*(function(){
        var url = "fileId.mpd"; //link to mpd
        var context = new Dash.di.DashContext();
        var player = new MediaPlayer(context);
        player.startup();
        player.attachView(document.querySelector("#videoStream"));
        player.attachSource(url);
    })();*/
  div#videoInfo
    h1 Video Info