extends layout

block content
  script(src="/javascripts/libs/socket.io-1.3.5.js")
  script(src="/javascripts/libs/dash.all.js")
  link(href="http://vjs.zencdn.net/4.12/video-js.css", rel="stylesheet")
  link(href="/stylesheets/videoSkin.css", rel="stylesheet")
  script(src="http://vjs.zencdn.net/4.12/video.js")
  script(src="/javascripts/libs/videojs-tech-dashjs.js")

  div#content
    video#videoStream(controls="true", autoplay, class="video-js vjs-default-skin", width="100%")
      //- p(style=" color: #fff; font-size: 18px; font-family: bold")= msg
      //- div#left
      //-   div#channelTabs
      //-     ul 
      //-       each channel in channels
      //-         li
      //-           a(href="/?ch=#{channel.channelName}")= channel.channelName
      //- div#right
      //- div#comments
      //-   p Comments
  - if (typeof(videoInfo) !== 'undefined'){
    script.
      $(document).ready(function(){
        (function(){
          var fileId = "#{videoInfo.fileId}" || '';
          console.log('fileid', fileId);
          var url = "http://localhost:8080/uploads/"+fileId+"/_dash.mpd"; //link to mpd
          player = videojs('videoStream', { "url": url, "context": new Dash.di.DashContext(), "controls": true, "autoplay": true, "width": "100%", "height": "700px" }, function() {
            
            this.play(); // if you don't trust autoplay for some reason
            // How about an event listener?
            this.on('ended', function() {
              console.log('awww...over so soon?');
            });
            
            
          });
          setTimeout(function(){
            player.mediaPlayer.seek(parseInt("#{videoInfo.start}"))
              console.log('videoInfo.start', "#{videoInfo.start}");
            }, 1500)
        })();
      })
  -}
  - else
    script.
      player = videojs('videoStream', { "url": "", "context": new Dash.di.DashContext(), "controls": true, "autoplay": true, "width": "100%", "height": "700px" }, function() {
            
        // How about an event listener?
        this.on('ended', function() {
          console.log('awww...over so soon?');
        });
        
        
      });
  div#videoInfo
    #left
      h2 Series
      #subContent
        p.episodeName "Episode"&nbsp;
          a.subTitle By Creator
        p In this episode, Hemingway fights a conquistador and loses his ability to love.
        br
        #share(style="float:right;")
          i(class="fa fa-twitter fa-lg")
          i(class="fa fa-facebook fa-lg")
          i(class="fa fa-google-plus fa-lg")
    #right
      h2 
        i(class="fa fa-comments fa-2x") &nbsp;
      #subContent
        #commentForm
          if isCreator
            div#questionsBox 
              p no questions yet
          else
            form
              input#commentText(type="text", placeholder="Your Question Here...")
              a#submitComment Ask

        

    #dd.wrapper-dropdown-5(tabindex="0") Comedy
      ul.dropdown
        for channel in channels
          li
            a(href="/?ch=#{channel.channelName}") 
              i.icon-user= channel.channelName
  - if (isCreator){
    script.
      var socket = io('http://127.0.0.1:6060/ama/');
      socket.emit('creatorInit', "#{creatorId}")
      socket.on('newQuestion', function(data){
        $("#questionsBox > p").text("");
        var questionDiv = $("<div class='question'>");
        questionDiv.append("<p class='questionText' data="+data.questionId+">"+data.question+"</p>");
        $("#questionsBox").append(questionDiv);
        setQuestionEvent(questionDiv);
      });
      function setQuestionEvent(e) {
        e.on("click", function(e) {
          if ($(this).next().attr("id") == "activeQuestion")
            $("#activeQuestion").remove();
          else {
            $("#activeQuestion").remove();
            
            var div = $("<div id='activeQuestion'>");
            var input = $("<input>");
            var a = $("<a>");

            input.attr("type", "text");
            input.attr("placeholder", "your answer");
            input.attr("id", "commentText");

            a.attr("id", "answerQuestion");
            a.text("answer")

            div.append(input);
            div.append(a);
            div.insertAfter($(this))
          }
          $('#answerQuestion').click(function(){
            console.log('click called');
            var question = $(this).parent().prev().find('.questionText').text();
            var questionId = $(this).parent().prev().find('.questionText').attr("data");
            var answer = $(this).prev().val();
            socket.emit('answer', {question: question, seriesId: "#{seriesId}", answer: answer, questionId: questionId}, function(err){
                console.log(err);
            });
          });
        });
      }
      setQuestionEvent($(".question"))
      
  -}
  - else{
    script.
      var socket = io('http://127.0.0.1:6060/ama/');
      socket.emit('init', "#{seriesId}")
      $('#submitComment').click(function(){
        console.log('clicked');
        socket.emit('question', {question: $('#commentText').val(), creatorId: "#{creatorId}", askerId: "#{userId}", seriesId: "#{seriesId}"}, function(err){
            console.log(err);
        });
      });
      socket.on('answer', function(msg){
        $('#messages').append($('<li>').text(msg));
      });
  -}
         