extends layout

block content
  
  style.
    #editAccountForm{     
      float:left; 
    }
    .edit-form-text{
      width: 300px;
      font-size: 24px;
      border-radius: 3px;
      border: 1px solid #ccc;
      padding: 5px;
      outline: none;
    }
    #editButton{
      width: 300px;
      height: 50px;
      font-size: 24px;
      border-radius: 5px;
      background-color: #fff;
      border: 1px solid #ccc;
      outline: none;
    }
    #series-form-text{
      width: 200px;
      height: 20px;
    }
    .profileBtn {
      margin: 10px;
      width: 300px;
      height: 50px;
      font-size: 24px;
      border-radius: 5px;
      background-color: #fff;
      border: 1px solid #ccc;
      outline: none;
      padding: 10px;
      text-decoration:none;
      color: #742365;
    }
    .profileBtn:hover {
      background-color: #742365;
      color: #fff;
      text-decoration:none;
      border: 1px solid #742365;
    }
  h1= subTitle
  if typeOfAccount == 1
    .accountLeft(style="width: 500px; float:left; padding:0; padding-left: 12.5%; margin-bottom: 45px;")
      a(class="profileBtn", href="/upload") Upload
      a(href="/resignCreator", class="profileBtn", id="resignCreatorLink") Resign as creator
    .accountLeft(style="width: 100%; float:left; padding:0; padding-left: 12.5%; margin-bottom: 25px;")
      h1 Create a new Series
      form#newSeriesForm(action="/newSeries", method="post")
        p= error
        input(type="text", name="seriesName", id="episodeName", class="formText", placeholder="Series Name")
        br
        br
        input(type="hidden", name="channelId", value="", id="channelId", class="seriesText")
        select#newSeriesSelect
          each channel in channels
             option(value="#{channel._id}")= channel.channelName
        br
        br
        input(type="submit", class="formButton", name="commit", id="editButton", value="Create new series")
       
  else
    #becomeCreatorContainer(style="width:100%; float:left; padding:0; padding-left: 12.5%;margin-bottom: 25px;")
      a.profileBtn(href="/becomeCreator", id="becomeCreatorLink") Become creator!
  
  form#editAccountForm(action="/profileDashboard", method="post")
    h1 Edit User Account
    p= error
    input(type="text", name="firstName", value="#{firstName}", class="create-form-text")
    br
    br
    input(type="text", name="lastName", value="#{lastName}", class="create-form-text")
    br
    br
    input(type="text", name="email", value="#{email}", class="create-form-text")
    br
    br
    input(type="text", name="username", value="#{username}", class="create-form-text")
    br
    br
    input(type="password", name="password", placeholder="Password", class="create-form-text")
    br
    br
    input(type="password", name="cpassword", placeholder="Confirm Password", class="create-form-text")
    br
    br
    input(type="submit", class="formButton", name="commit", id="editButton", value="Edit profile")
    br
    br
  script.
    $('#channelId').val($('#newSeriesSelect').val());
    $('#newSeriesSelect').change(function(){
      $('#channelId').val($('#newSeriesSelect').val());
    })
    console.log("edit profile form running")
